obj/
.vs/project eular/v15/Server/sqlite3/db.lock
.vs/project eular/v15/Server/sqlite3/storage.ide
.vs/project eular/v15/Server/sqlite3/storage.ide-shm
.vs/project eular/v15/Server/sqlite3/storage.ide-wal
